<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Musiikkikauppa Nuotti</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <!-- header -->
    <header id="top">
        <div class="jumbotron jumbotron-fluid bg-dark text-primary text-center mb-0">
            <a href="../index.html" class="text-decoration-none text-primary">
                <h1 id="logoHeader">Musiikkikauppa Nuotti</h1>
            </a>
        </div>
        <nav class="navbar navbar-light bg-dark">
            <div class="container col-lg-8">
                <form class="form-inline ml-auto" action="haku.html">
                    <div class="input-group">
                        <input class="form-control mr-sm-2 rounded" type="search" placeholder="Etsi jotain" aria-label="Search" required>
                        <div class="input-group-prepend">
                            <button class="input-group-text bg-dark text-primary rounded border-primary" type="submit">Etsi</button>
                        </div>
                    </div>
                </form>
            </div>
        </nav>
    </header>

    <!-- navbar -->
    <nav class="navbar navbar-light navbar-expand-sm bg-primary flex-row shadow-lg mb-3">
        <div class="container col-lg-8">
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
                <span class="sr-only">Toggle-button</span>
            </button>
            <div class="navbar-collapse collapse" id="collapsibleNavbar">
                <!-- Left Side Of Navbar -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link h5" href="../index.html">Etusivu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h5" href="syntikat.html">Syntikat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h5" href="vst.html">VST</a>
                    </li>
                </ul>
            </div>
            <!-- Right Side Of Navbar -->
            <a class="navbar-brand" href="ostoskori_empty.html">
                <div id="shopping_cart_container">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 109.758 97.024">
                        <g fill="#1a1a1a" fill-opacity="0.01" stroke="#1a1a1a">
                            <g transform="translate(-47.838 -29.879)" stroke-width="4">
                                <path style="mix-blend-mode:normal" d="M48.376 31.805s17.62 4.925 22.718 11.76C81.884 58.03 81.25 96.746 81.25 96.746l59.868-.529 13.88-51.803-70.54-.85" />
                                <path d="M90.638 96.718l-7.517 13.664h53.988" />
                                <ellipse cx="128.119" cy="118.219" rx="7.114" ry="6.684" />
                                <ellipse cx="91.819" cy="117.831" rx="7.114" ry="6.684" />
                            </g>
                            <path d="M33.404 27.054H99.84M35.601 40.506h58.2m-55.18 12.628h51.337" stroke-width="1.165" />
                        </g>
                    </svg>
                </div>
                <span class="sr-only">Shopping cart</span>
            </a>
        </div>
    </nav>

    <!-- main -->
    <main class="container-fluid flex-grow-1 my-3 col-md-8">
        <article class="card shadow-lg">
            <header class="card-header bg-dark text-primary">
                <h2 class="h4">Toimitusehdot</h2>
            </header>
            <section class="card-body">
                <p class="card-text">[yrityksen nimi], y-tunnus: [Y-tunnus], osoite: [yrityksen osoite]; myy tuotteita yrityksille ja täysi-ikäisille yksityishenkilöille EU-alueelle. Nämä toimitusehdot soveltuvat tuotteiden tilaamiseen verkkokaupassamme sekä vastaaviin toimituksiin.</p>
                <p class="card-text">Nämä toimitusehtomme ovat voimassa [päivämäärä] alkaen. Voimme muuttaa toimitusehtoja yksipuolisesti aika ajoin, joten tutustuthan toimitusehtoihimme joka kerta etukäteen kun tilaat tuotteita verkkokaupastamme.</p>

                <h3 class="h5">Tuotteet ja tuotehinnat</h3>
                <p class="card-text">Verkkokaupan tuotteiden ominaisuudet ja hinnat on esitetty kunkin tuotteen tuote-esittelyn yhteydessä. Pidätämme oikeuden hintojen ja toimituskulujen muutoksiin, joten tarkastathan ko. hinnat ostoskorista ennen kuin hyväksyt tilauksen. Tuotteiden hinnat [sisältävät / eivät sisällä veroja], joka ilmenee ostoskorissa ja tilausvahvistuksessa.</p>

                <h3 class="h5">Toimituskulut</h3>
                <p class="card-text">Tilauksesta mahdollisesti veloitettavat toimituskulut riippuvat itse tuotteesta (esim. paino, pakkaus) ja valitusta toimitustavasta ja ne lisätään automaattisesti tilauksen loppusummaan. Näet tilauksestasi veloitettavat toimituskulut (jos toimituskuluja veloitetaan) ostoskoristasi ennen kuin hyväksyt tilauksen.</p>

                <h3 class="h5">Tilaaminen ja sopimus</h3>
                <p class="card-text">Voit tilata tuotteita verkkokauppamme kotisivuilla siirtämällä niitä ostoskoriin ja vahvistamalla tilauksen ja maksamalla ostoskorin sisällön maksupalvelussa. Tilatessasi verkkokaupastamme sinun edellytetään tutustuneen ja sitoutuneen kulloinkin voimassa oleviin toimitusehtoihimme. Ymmärrät, että hyväksymäsi ja vahvistamamme tilauksesi on, paitsi siltä osin mitä myöhemmin mainitaan peruttamisoikeudesta, sitova ja synnyttää näiden toimitusehtojen kanssa sopimuksen välillemme.</p>

                <h3 class="h5">Maksaminen ja maksutavat</h3>
                <p class="card-text">Voit maksaa tilauksesi verkkokaupassa kuvatuilla ja ostoskorissa valittavissa olevilla maksutavoilla.</p>

                <h3 class="h5">Tilaus- ja maksuvahvistus</h3>
                <p class="card-text">Onnistuneen tilauksen jälkeen sähköpostiisi lähetetään tilausvahvistus, joten annathan sähköpostiosoitteesi kun teet tilauksen. Tilausvahvistuksessa vahvistetaan myös käytetty maksutapa.</p>
                <p class="card-text">Jos emme jostain odottamattomasta syystä voi vahvistaa tilaustasi ilmoitamme siitä sähköpostiisi mahdollisimman pian.</p>

                <h3 class="h5">Toimitustapa</h3>
                <p class="card-text">Toimitamme tilauksesi jollakin käytössä olevalla kotisivuillamme mainitulla toimitustavalla, jonka valitset tilauksesi yhteydessä.</p>

                <h3 class="h5">Toimitusaika</h3>
                <p class="card-text">Yleisimmät toimitusaikamme EU -alueelle ovat tilauksesta ja toimitustavasta riippuen [toimitusaika] päivää. Tarkemmat ajat ilmoitetaan tuotevaihtoehtojen yhteydessä.</p>

                <h3 class="h5">Peruutusoikeus ja palautusehdot</h3>
                <p class="card-text">Jos olet kuluttaja sinulla on Suomen kuluttajansuojalain mukainen oikeus peruuttaa tilaus ilmoittamalla tästä meille viimeistään 14 päivän kuluttua tavaran tai viimeisen tavaraerän vastaanottamisesta taikka, jos kyse on tavaroiden säännöllisestä toimittamisesta, ensimmäisen tavaraerän vastaanottamisesta.</p>
                <p class="card-text">Peruuttamisilmoitus tulee tehdä selkeästi esimerkiksi peruuttamislomakkeellamme, alla olevaan sähköpostiimme tai palautettavan tavaran mukana toimittamallasi kirjallisella ilmoituksella.</p>
                <p class="card-text">Peruutusoikeus koskee vain ja vastaavasti palautettavien tuotteiden on oltava alkuperäispakkauksessa, käyttämättömiä ja hyvin takaisinlähetystä varten pakattuja.</p>
                <p class="card-text">Jos kauppa perutaan, tavara on palautettava viivytyksettä ja viimeistään 14 päivän kuluttua peruuttamisilmoituksen tekemisestä alla mainittuun Palautusosoitteeseemme. Palauttajan on tarvittaessa näytettävä toteen, että tavara on palautettu määräajassa, esimerkiksi palautuskuitilla. Palauttajan on maksettava palauttamisesta aiheutuvat kustannukset. Näitä kustannuksia ei makseta takaisin palauttajalle.</p>
                <p class="card-text">Palauttaessasi toimitetun tilauksen, liitä siihen mukaan nimesi ja yhteystietosi sekä tilinumerosi rahojen palautusta varten.</p>
                <p class="card-text">Palautamme vastaavasti tilauksesta maksamasi rahat viivytyksettä kuluttajasuojalain mukaisesti.</p>
                <p class="card-text"><strong>Palautusosoitteemme:</strong></p>
                <p class="card-text">[yrityksen palautusosoitetiedot]</p>

                <h3 class="h5">Asiakaspalvelu</h3>
                <p class="card-text">Henkilökuntamme auttaa sinua tilaukseesi liittyvissä kysymyksissä. Otathan yhteyttä, joko sähköpostitse tai puhelimitse:</p>
                <ul class="list-unstyled">
                    <li class="card-text">[asiakaspalvelun sähköpostiosoite]</li>
                    <li class="card-text">[asiakaspalvelun puhelinnumero]</li>
                    <li class="card-text">[asiakaspalvelun aukioloajat]</li>
                </ul>

                <h3 class="h5">Vastuunrajoitus</h3>
                <p class="card-text">[yrityksen nimi] ei vastaa mistään tilaukseen, toimitukseen tai tuotteeseen liittyvästä tai mistään edellä mainitusta aiheutuneesta välillisestä tai välittömästä tai muusta vahingosta paitsi siihen asti kuin pakottava määräys kuluttajanasuojalaissa tai muussa pakottavassa laissa on kyseisen vahingon osalta toisin määrännyt.</p>

                <h3 class="h5">Erimielisyydet</h3>
                <p class="card-text">Pyrimme sopimaan tilaustasi koskevat mahdolliset erimielisyydet ensisijaisesti sopimalla, joten otathan ensisijassa yhteyttä Asiakaspalveluumme sopiaksemme asian.</p>
                <p class="card-text">Jos kauppasopimusta koskevaa erimielisyyttä ei saada ratkaistuksi osapuolten välisillä neuvotteluilla, kuluttaja voi saattaa asian kuluttajariitalautakunnan (www.kuluttajariita.fi) ratkaistavaksi. Ennen asian viemistä kuluttajariitalautakunnan käsittelyyn kuluttajan tulee olla yhteydessä maistraattien kuluttajaneuvontaan (www.kuluttajaneuvonta.fi).</p>
            </section>
        </article>
    </main>
    <aside class="mx-auto mb-3">
        <a href="#top">Takaisin ylös ↑</a>
    </aside>

    <!-- footer -->
    <!-- footer desktop -->
    <footer class="navbar bg-secondary flex-column mt-3 d-none d-md-block">
        <main class="container d-flex justify-content-around">
            <article class="col-sm-4 align-self-start mt-3">
                <header>
                    <p class="h6">Musiikkikauppa Nuotti</p>
                </header>
                <section>
                    <a href="yritys.html">
                        <span class="mb-0">Tietoa meistä</span>
                    </a>
                </section>
            </article>
            <article class="col-sm-4 align-self-start mt-3">
                <header>
                    <p class="h6">Asiakaspalvelu</p>
                </header>
                <section>
                    <ul class="list-unstyled">
                        <li>
                            <a href="yhteydenotto.html">
                                <span class="mb-0">Ota yhteyttä</span>
                            </a>
                        </li>
                        <li>
                            <a href="#top">
                                <span class="mb-0">Toimitusehdot</span>
                            </a>
                        </li>
                        <li>
                            <a href="tietosuojalauseke.html">
                                <span class="text-center mb-0">Tietosuojalauseke</span>
                            </a>
                        </li>
                    </ul>
                </section>
            </article>
            <article class="col-sm-4 align-self-start mt-3">
                <header>
                    <p class="h6">Tilaa uutiskirje</p>
                </header>
                <section>
                    <form class="form" action="onnistui.html">
                        <div class="input-group">
                            <input class="form-control mr-sm-2 rounded" type="email" placeholder="sähköpostiosoitteesi" aria-label="email" required>
                            <div class="input-group-prepend">
                                <button class="input-group-text bg-dark text-primary rounded border-primary" type="submit">Liity</button>
                            </div>
                        </div>
                    </form>
                </section>
            </article>
        </main>
    </footer>
    <!-- footer mobile -->
    <footer class="navbar bg-secondary flex-column mt-3 d-md-none">
        <main class="container d-flex flex-wrap mx-auto">
            <article class="col-sm-4 mt-3">
                <header>
                    <p class="h6">Musiikkikauppa Nuotti</p>
                </header>
                <section>
                    <a href="yritys.html">
                        <span class="mb-0">Tietoa meistä</span>
                    </a>
                </section>
            </article>
            <article class="col-sm-4 align-self-start mt-3">
                <header>
                    <p class="h6">Asiakaspalvelu</p>
                </header>
                <section>
                    <ul class="list-unstyled">
                        <li>
                            <a href="yhteydenotto.html">
                                <span class="mb-0">Ota yhteyttä</span>
                            </a>
                        </li>
                        <li>
                            <a href="#top">
                                <span class="mb-0">Toimitusehdot</span>
                            </a>
                        </li>
                        <li>
                            <a href="tietosuojalauseke.html">
                                <span class="text-center mb-0">Tietosuojalauseke</span>
                            </a>
                        </li>
                    </ul>
                </section>
            </article>
            <article class="col-sm-4 align-self-start mt-3">
                <header>
                    <p class="h6">Tilaa uutiskirje</p>
                </header>
                <section>
                    <form class="form-inline" action="onnistui.html">
                        <div class="input-group">
                            <input class="form-control mr-sm-2 rounded" type="email" placeholder="sähköpostiosoitteesi" aria-label="email" required>
                            <div class="input-group-prepend">
                                <button class="input-group-text bg-dark text-primary rounded border-primary" type="submit">Liity</button>
                            </div>
                        </div>
                    </form>
                </section>
            </article>
        </main>
    </footer>

    <!-- jQuery first, then Popper.js, then finally Bootstrap JS. -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>

</html>
