<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Musiikkikauppa Nuotti</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <!-- header -->
    <header id="top">
        <div class="jumbotron jumbotron-fluid bg-dark text-primary text-center mb-0">
            <a href="../index.html" class="text-decoration-none text-primary">
                <h1 id="logoHeader">Musiikkikauppa Nuotti</h1>
            </a>
        </div>
        <nav class="navbar navbar-light bg-dark">
            <div class="container col-lg-8">
                <form class="form-inline ml-auto" action="haku.html">
                    <div class="input-group">
                        <input class="form-control mr-sm-2 rounded" type="search" placeholder="Etsi jotain" aria-label="Search" required>
                        <div class="input-group-prepend">
                            <button class="input-group-text bg-dark text-primary rounded border-primary" type="submit">Etsi</button>
                        </div>
                    </div>
                </form>
            </div>
        </nav>
    </header>

    <!-- navbar -->
    <nav class="navbar navbar-light navbar-expand-sm bg-primary flex-row shadow-lg mb-3">
        <div class="container col-lg-8">
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
                <span class="sr-only">Toggle-button</span>
            </button>
            <div class="navbar-collapse collapse" id="collapsibleNavbar">
                <!-- Left Side Of Navbar -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link h5" href="../index.html">Etusivu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h5" href="syntikat.html">Syntikat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h5" href="#top">VST</a>
                    </li>
                </ul>
            </div>
            <!-- Right Side Of Navbar -->
            <a class="navbar-brand" href="ostoskori_empty.html">
                <div id="shopping_cart_container">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 109.758 97.024">
                        <g fill="#1a1a1a" fill-opacity="0.01" stroke="#1a1a1a">
                            <g transform="translate(-47.838 -29.879)" stroke-width="4">
                                <path style="mix-blend-mode:normal" d="M48.376 31.805s17.62 4.925 22.718 11.76C81.884 58.03 81.25 96.746 81.25 96.746l59.868-.529 13.88-51.803-70.54-.85" />
                                <path d="M90.638 96.718l-7.517 13.664h53.988" />
                                <ellipse cx="128.119" cy="118.219" rx="7.114" ry="6.684" />
                                <ellipse cx="91.819" cy="117.831" rx="7.114" ry="6.684" />
                            </g>
                            <path d="M33.404 27.054H99.84M35.601 40.506h58.2m-55.18 12.628h51.337" stroke-width="1.165" />
                        </g>
                    </svg>
                </div>
                <span class="sr-only">Shopping cart</span>
            </a>
        </div>
    </nav>

    <!-- main -->
    <main class="container-fluid flex-grow-1 my-3 col-md-8">
        <article class="card shadow-lg">
            <header class="card-header bg-dark text-primary">
                <h2 class="h4">Syntikat</h2>
            </header>
            <div class="card-body">
                <p class="card-text">Täältä löytyvät <strong>markkinoiden monipuolisimmat</strong> syntikat virtuaalisina soittimina, jotka ovat yhteensopivia minkä <abbr title="Digital Audio Workstation" class="initialism">DAW</abbr>:n kanssa tahansa!</p>

            </div>
            <section class="container col-md-12 d-flex flex-wrap justify-content-center">
                <div class="card border-dark mb-3 mx-3" style="width: 20rem;">
                    <img class="card-img-top" src="../assets/img/VST-1.jpg" alt="Blamsoft VK-1">
                    <header class="card-header border">
                        <h3 class="h5">Synth #1</h3>
                    </header>
                    <header class="card-header border bg-success text-center">
                        <h3 class="h5">Uutuus!</h3>
                    </header>
                    <div class="card-body">
                        <p class="card-text">Virtuaalista analogiaa!</p>
                    </div>
                    <footer class="card-footer bg-transparent d-flex flex-row">
                        <p class="card-text align-self-center h5 text-center col-8">Hinta: 599€</p>
                        <form action="ostoskori_full.html" class="ml-auto">
                            <button type="submit" class="btn btn-success btn-lg align-self-center" value="vst1"><span class="h5">Osta</span></button>
                        </form>
                    </footer>
                </div>
                <div class="card border-dark mb-3 mx-3" style="width: 20rem;">
                    <img class="card-img-top" src="../assets/img/VST-2.jpg" alt="Blaukraut Charlatan 2.0">
                    <header class="card-header">
                        <h3 class="h5">Syntikka 2.0</h3>
                    </header>
                    <header class="card-header border bg-success text-center">
                        <h3 class="h5">Uutuus!</h3>
                    </header>
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus eros sed sem condimentum tincidunt. In facilisis consectetur odio, eget tristique libero condimentum vitae. Aliquam sit amet imperdiet dui.</p>
                    </div>
                    <footer class="card-footer bg-transparent d-flex flex-row">
                        <p class="card-text align-self-center h5 text-center col-8">Hinta: 649€</p>
                        <form action="ostoskori_full.html" class="ml-auto">
                            <button type="submit" class="btn btn-success btn-lg align-self-center" value="vst2"><span class="h5">Osta</span></button>
                        </form>
                    </footer>
                </div>
                <div class="card border-dark mb-3 mx-3" style="width: 20rem;">
                    <img class="card-img-top" src="../assets/img/VST-3.jpg" alt="Dead Duck Deducktion">
                    <header class="card-header border">
                        <h3 class="h5">Syntikka 3.01</h3>
                    </header>
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus eros sed sem condimentum tincidunt. In facilisis consectetur odio, eget tristique libero condimentum vitae. Aliquam sit amet imperdiet dui.</p>
                    </div>
                    <footer class="card-footer bg-transparent d-flex flex-row">
                        <p class="card-text align-self-center h5 text-center col-8">Hinta: 989€</p>
                        <form action="ostoskori_full.html" class="ml-auto">
                            <button type="submit" class="btn btn-success btn-lg align-self-center" value="vst3"><span class="h5">Osta</span></button>
                        </form>
                    </footer>
                </div>
                <div class="card border-dark mb-3 mx-3" style="width: 20rem;">
                    <img class="card-img-top" src="../assets/img/VST-4.jpg" alt="Dexed">
                    <header class="card-header border">
                        <h3 class="h5">Syntikka 4.04</h3>
                    </header>
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus eros sed sem condimentum tincidunt. In facilisis consectetur odio, eget tristique libero condimentum vitae. Aliquam sit amet imperdiet dui.</p>
                    </div>
                    <footer class="card-footer bg-transparent d-flex flex-row">
                        <p class="card-text align-self-center h5 text-center col-8">Hinta: 369€</p>
                        <form action="ostoskori_full.html" class="ml-auto">
                            <button type="submit" class="btn btn-success btn-lg align-self-center" value="vst4"><span class="h5">Osta</span></button>
                        </form>
                    </footer>
                </div>
                <div class="card border-dark mb-3 mx-3" style="width: 20rem;">
                    <img class="card-img-top" src="../assets/img/VST-5.jpg" alt="Ichiro Toda Synth1">
                    <header class="card-header border">
                        <h3 class="h5 ">Syntikka 5.555</h3>
                    </header>
                    <header class="card-header border bg-warning text-center">
                        <h3 class="h5">Tarjous!</h3>
                    </header>
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus eros sed sem condimentum tincidunt. In facilisis consectetur odio, eget tristique libero condimentum vitae. Aliquam sit amet imperdiet dui.</p>
                    </div>
                    <footer class="card-footer bg-transparent">
                        <p class="card-text align-self-center h5 text-center col-8"><s>Hinta: 799€</s></p>
                        <div class="d-flex flex-row">
                            <p class="card-text align-self-center h5 text-center col-8">Hinta: 599€</p>
                            <form action="ostoskori_full.html" class="ml-auto">
                                <button type="submit" class="btn btn-success btn-lg align-self-center" value="vst5"><span class="h5">Osta</span></button>
                            </form>
                        </div>
                    </footer>
                </div>
            </section>
        </article>
    </main>
    <aside class="mx-auto mb-3">
        <a href="#top">Takaisin ylös ↑</a>
    </aside>

    <!-- footer -->
    <!-- footer desktop -->
    <footer class="navbar bg-secondary flex-column mt-3 d-none d-md-block">
        <main class="container d-flex justify-content-around">
            <article class="col-sm-4 align-self-start mt-3">
                <header>
                    <p class="h6">Musiikkikauppa Nuotti</p>
                </header>
                <section>
                    <a href="yritys.html">
                        <span class="mb-0">Tietoa meistä</span>
                    </a>
                </section>
            </article>
            <article class="col-sm-4 align-self-start mt-3">
                <header>
                    <p class="h6">Asiakaspalvelu</p>
                </header>
                <section>
                    <ul class="list-unstyled">
                        <li>
                            <a href="yhteydenotto.html">
                                <span class="mb-0">Ota yhteyttä</span>
                            </a>
                        </li>
                        <li>
                            <a href="toimitusehdot.html">
                                <span class="mb-0">Toimitusehdot</span>
                            </a>
                        </li>
                        <li>
                            <a href="tietosuojalauseke.html">
                                <span class="text-center mb-0">Tietosuojalauseke</span>
                            </a>
                        </li>
                    </ul>
                </section>
            </article>
            <article class="col-sm-4 align-self-start mt-3">
                <header>
                    <p class="h6">Tilaa uutiskirje</p>
                </header>
                <section>
                    <form class="form" action="onnistui.html">
                        <div class="input-group">
                            <input class="form-control mr-sm-2 rounded" type="email" placeholder="sähköpostiosoitteesi" aria-label="email" required>
                            <div class="input-group-prepend">
                                <button class="input-group-text bg-dark text-primary rounded border-primary" type="submit">Liity</button>
                            </div>
                        </div>
                    </form>
                </section>
            </article>
        </main>
    </footer>
    <!-- footer mobile -->
    <footer class="navbar bg-secondary flex-column mt-3 d-md-none">
        <main class="container d-flex flex-wrap mx-auto">
            <article class="col-sm-4 mt-3">
                <header>
                    <p class="h6">Musiikkikauppa Nuotti</p>
                </header>
                <section>
                    <a href="yritys.html">
                        <span class="mb-0">Tietoa meistä</span>
                    </a>
                </section>
            </article>
            <article class="col-sm-4 align-self-start mt-3">
                <header>
                    <p class="h6">Asiakaspalvelu</p>
                </header>
                <section>
                    <ul class="list-unstyled">
                        <li>
                            <a href="yhteydenotto.html">
                                <span class="mb-0">Ota yhteyttä</span>
                            </a>
                        </li>
                        <li>
                            <a href="toimitusehdot.html">
                                <span class="mb-0">Toimitusehdot</span>
                            </a>
                        </li>
                        <li>
                            <a href="tietosuojalauseke.html">
                                <span class="text-center mb-0">Tietosuojalauseke</span>
                            </a>
                        </li>
                    </ul>
                </section>
            </article>
            <article class="col-sm-4 align-self-start mt-3">
                <header>
                    <p class="h6">Tilaa uutiskirje</p>
                </header>
                <section>
                    <form class="form-inline" action="onnistui.html">
                        <div class="input-group">
                            <input class="form-control mr-sm-2 rounded" type="email" placeholder="sähköpostiosoitteesi" aria-label="email" required>
                            <div class="input-group-prepend">
                                <button class="input-group-text bg-dark text-primary rounded border-primary" type="submit">Liity</button>
                            </div>
                        </div>
                    </form>
                </section>
            </article>
        </main>
    </footer>

    <!-- jQuery first, then Popper.js, then finally Bootstrap JS. -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>

</html>
