<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preload" href="https://fonts.gstatic.com/s/amiko/v5/WwkQxPq1DFK04uqieV8.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="../css/min/styles.css">
    <title>Musiikkikauppa Nuotti</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <!-- header -->
    <header id="top">
        <div class="jumbotron jumbotron-fluid bg-dark text-primary text-center mb-0">
            <a href="../index.html" class="text-decoration-none text-primary">
                <h1 id="logoHeader">Musiikkikauppa Nuotti</h1>
            </a>
        </div>
        <nav class="navbar navbar-light bg-dark">
            <div class="container col-lg-8">
                <form class="form-inline ml-auto" action="haku.html">
                    <div class="input-group">
                        <input class="form-control mr-sm-2 rounded" type="search" placeholder="Etsi jotain" aria-label="Search" required>
                        <div class="input-group-prepend">
                            <button class="input-group-text bg-dark text-primary rounded border-primary" type="submit">Etsi</button>
                        </div>
                    </div>
                </form>
            </div>
        </nav>
    </header>

    <!-- navbar -->
    <nav class="navbar navbar-light navbar-expand-sm bg-primary flex-row shadow-lg mb-3">
        <div class="container col-lg-8">
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
                <span class="sr-only">Toggle-button</span>
            </button>
            <div class="navbar-collapse collapse" id="collapsibleNavbar">
                <!-- Left Side Of Navbar -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link h5" href="../index.html">Etusivu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h5" href="syntikat.html">Syntikat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h5" href="vst.html">VST</a>
                    </li>
                </ul>
            </div>
            <!-- Right Side Of Navbar -->
            <a class="navbar-brand" href="ostoskori_empty.html">
                <div id="shopping_cart_container">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 109.758 97.024">
                        <g fill="#1a1a1a" fill-opacity="0.01" stroke="#1a1a1a">
                            <g transform="translate(-47.838 -29.879)" stroke-width="4">
                                <path style="mix-blend-mode:normal" d="M48.376 31.805s17.62 4.925 22.718 11.76C81.884 58.03 81.25 96.746 81.25 96.746l59.868-.529 13.88-51.803-70.54-.85" />
                                <path d="M90.638 96.718l-7.517 13.664h53.988" />
                                <ellipse cx="128.119" cy="118.219" rx="7.114" ry="6.684" />
                                <ellipse cx="91.819" cy="117.831" rx="7.114" ry="6.684" />
                            </g>
                            <path d="M33.404 27.054H99.84M35.601 40.506h58.2m-55.18 12.628h51.337" stroke-width="1.165" />
                        </g>
                    </svg>
                </div>
                <span class="sr-only">Shopping cart</span>
            </a>
        </div>
    </nav>

    <!-- main -->
    <main class="container-fluid flex-grow-1 my-3 col-md-8">
        <article class="card shadow-lg">
            <header class="card-header bg-dark text-primary">
                <h2 class="h4">Musiikkikauppa Nuotti</h2>
            </header>
            <div class="card-body">
                <p>Musiikkikauppa Nuotti on syntikoihin ja VST-soittimiin erikoistunut verkkokauppa.</p>

                <h3 class="h5">Historiaa</h3>
                <p>Yritys perustettu 2015. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce venenatis bibendum nisl sit amet tristique. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at nulla eros. Vestibulum dui magna, pulvinar eget libero quis, porttitor interdum massa. Aliquam ac ullamcorper erat. Phasellus molestie erat ante, eu malesuada odio lobortis sit amet. Mauris mollis, turpis sit amet hendrerit interdum, nisl nunc accumsan sem, a porta lorem massa ut nisl. Ut eros leo, pretium at metus et, blandit suscipit massa. Phasellus sit amet orci augue. Duis volutpat augue metus, quis aliquet sapien tincidunt eget. Curabitur vel semper diam, gravida malesuada leo. Morbi eu purus at diam imperdiet convallis.</p>

                <h3 class="h5">Parhaat hinnat</h3>
                <p>Ut sagittis suscipit lacus at mattis. Nam sagittis lacus mi, at semper ex facilisis ac. Sed ut nisi turpis. In hac habitasse platea dictumst. Maecenas leo enim, fermentum a tincidunt vitae, laoreet vitae ex. Nullam a urna dui. Morbi fermentum placerat faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis facilisis ex quis condimentum pharetra. Aliquam euismod lacinia pretium. Fusce auctor euismod orci, sit amet dignissim urna.</p>

                <h3 class="h5">Ammattitaitoa ja osaamista</h3>
                <p>Nam suscipit odio nec nibh scelerisque, eget luctus mauris lobortis. Vestibulum malesuada mollis orci at posuere. Praesent sagittis velit sit amet lacus dictum, non iaculis sapien luctus. Vivamus a tellus massa. Vestibulum a urna lacus. Morbi elementum laoreet augue quis consequat. Duis vitae pharetra augue. Cras metus tortor, efficitur ac nunc et, feugiat dapibus lacus. Vivamus ut fermentum libero. Quisque at nibh a est dapibus ultricies. Pellentesque sit amet nisi massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris sit amet sollicitudin velit, a vehicula lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

                <strong>Meille musiikki on kaikki. Tervetuloa musiikin maailmaan.</strong>
                <p>Veikko - toimitusjohtaja</p>
                <div class="container-fluid mx-auto">
                    <figure class="d-none d-md-block">
                        <img class="card-img-bottom" src="../assets/img/pexels-person-1000x667.webp" alt="Veikko the toimitusjohtaja">
                        <figcaption>Veikko pitää musiikista</figcaption>
                    </figure>
                    <figure class="d-md-none">
                        <img class="card-img-bottom" src="../assets/img/pexels-person-mobile.webp" alt="Veikko the toimitusjohtaja">
                        <figcaption>Veikko pitää musiikista</figcaption>
                    </figure>
                </div>
            </div>
        </article>
    </main>
    <aside class="mx-auto mb-3">
        <a href="#top">Takaisin ylös ↑</a>
    </aside>

    <!-- footer -->
    <!-- footer desktop -->
    <footer class="navbar bg-secondary flex-column mt-3 d-none d-md-block">
        <main class="container d-flex justify-content-around">
            <article class="col-sm-4 align-self-start mt-3">
                <header>
                    <p class="h6">Musiikkikauppa Nuotti</p>
                </header>
                <section>
                    <a href="#top">
                        <span class="mb-0">Tietoa meistä</span>
                    </a>
                </section>
            </article>
            <article class="col-sm-4 align-self-start mt-3">
                <header>
                    <p class="h6">Asiakaspalvelu</p>
                </header>
                <section>
                    <ul class="list-unstyled">
                        <li>
                            <a href="yhteydenotto.html">
                                <span class="mb-0">Ota yhteyttä</span>
                            </a>
                        </li>
                        <li>
                            <a href="toimitusehdot.html">
                                <span class="mb-0">Toimitusehdot</span>
                            </a>
                        </li>
                        <li>
                            <a href="tietosuojalauseke.html">
                                <span class="text-center mb-0">Tietosuojalauseke</span>
                            </a>
                        </li>
                    </ul>
                </section>
            </article>
            <article class="col-sm-4 align-self-start mt-3">
                <header>
                    <p class="h6">Tilaa uutiskirje</p>
                </header>
                <section>
                    <form class="form" action="onnistui.html">
                        <div class="input-group">
                            <input class="form-control mr-sm-2 rounded" type="email" placeholder="sähköpostiosoitteesi" aria-label="email" required>
                            <div class="input-group-prepend">
                                <button class="input-group-text bg-dark text-primary rounded border-primary" type="submit">Liity</button>
                            </div>
                        </div>
                    </form>
                </section>
            </article>
        </main>
    </footer>
    <!-- footer mobile -->
    <footer class="navbar bg-secondary flex-column mt-3 d-md-none">
        <main class="container d-flex flex-wrap mx-auto">
            <article class="col-sm-4 mt-3">
                <header>
                    <p class="h6">Musiikkikauppa Nuotti</p>
                </header>
                <section>
                    <a href="#top">
                        <span class="mb-0">Tietoa meistä</span>
                    </a>
                </section>
            </article>
            <article class="col-sm-4 align-self-start mt-3">
                <header>
                    <p class="h6">Asiakaspalvelu</p>
                </header>
                <section>
                    <ul class="list-unstyled">
                        <li>
                            <a href="yhteydenotto.html">
                                <span class="mb-0">Ota yhteyttä</span>
                            </a>
                        </li>
                        <li>
                            <a href="toimitusehdot.html">
                                <span class="mb-0">Toimitusehdot</span>
                            </a>
                        </li>
                        <li>
                            <a href="tietosuojalauseke.html">
                                <span class="text-center mb-0">Tietosuojalauseke</span>
                            </a>
                        </li>
                    </ul>
                </section>
            </article>
            <article class="col-sm-4 align-self-start mt-3">
                <header>
                    <p class="h6">Tilaa uutiskirje</p>
                </header>
                <section>
                    <form class="form-inline" action="onnistui.html">
                        <div class="input-group">
                            <input class="form-control mr-sm-2 rounded" type="email" placeholder="sähköpostiosoitteesi" aria-label="email" required>
                            <div class="input-group-prepend">
                                <button class="input-group-text bg-dark text-primary rounded border-primary" type="submit">Liity</button>
                            </div>
                        </div>
                    </form>
                </section>
            </article>
        </main>
    </footer>

    <!-- jQuery first, then Popper.js, then finally Bootstrap JS. -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>

</html>
