$theme-colors: (
     "primary": #F5C1B3,
     "secondary": #DECCAB,
     "success": #84E19A,
     "warning": #FFDE7A,
     "danger": #EF9AA4
);

$bodyBackground: #D9D9D9;
$shoppingCart: rgba(0, 0, 0, 0.5);
//#F0AC75

//EE8B6D