
@import "fonts";
@import "colors";
@import "node_modules/bootstrap/scss/bootstrap";

body {
    background: $bodyBackground;
    height: 100%;
}

.logoHeader {
    @include logoStyle;
}

#shopping_cart_container {
    width: 50px;
    display: block;
    transition: filter 500ms ease;
}

#shopping_cart_container svg g {
    stroke: $shoppingCart;
}

#shopping_cart_container:hover svg g {
    stroke: black;
}

#nuottiContainer {
    width: 200px;
    height: 150px;
    display: block;
    position: static;

    animation-name: nuottiAnimate;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(.45,.25,.6,.87);
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-play-state: running;
}

a {
    color: #343a40;
}

@keyframes nuottiAnimate {
    0% {
        width: 100px;
        filter: drop-shadow(30px 10px 4px #808080);
    }
    25% {
        filter: drop-shadow(50px 50px 8px #808080);
        transform: rotate(-30deg);
    }
    50% {
        width: 150px;
        filter: drop-shadow(70px 100px 12px #808080);
        
    }
    75% {
        filter: drop-shadow(50px 50px 8px #808080);
        transform: rotate(30deg);
    }
    100% {
        width: 100px;
        filter: drop-shadow(30px 10px 4px #808080);
    }
}

main {
    min-height: 100%;
}
