
@import "colors";
@import "node_modules/bootstrap/scss/bootstrap";

body {
    background: $bodyBackground;
    height: 100%;
}

/*header {
    box-shadow: 0px 10px 15px #27272780;
    -webkit-box-shadow: 0px 10px 15px #27272780;
    -moz-box-shadow: 0px 10px 15px #27272780;
    position: relative;
    z-index: 999999;
}

#carouselExampleIndicators {
    box-shadow: 0px 10px 25px #27272780;
    -webkit-box-shadow: 0px 10px 25px #27272780;
    -moz-box-shadow: 0px 10px 25px #27272780;
    position: relative;
    z-index: 999999;
}*/

#shopping_cart_container {
    width: 50px;
    display: block;
    transition: filter 500ms ease;
}

#shopping_cart_container:hover svg g {
    filter: blur(1px);
    stroke: white;
}

#nuottiContainer {
    width: 200px;
    height: 150px;
    display: block;
    position: static;

    animation-name: nuottiAnimate;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(.45,.25,.6,.87);
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-play-state: running;
}

a {
    color: #343a40;
}

@keyframes nuottiAnimate {
    0% {
        width: 100px;
        filter: drop-shadow(30px 10px 4px #808080);
    }
    25% {
        filter: drop-shadow(50px 50px 8px #808080);
        transform: rotate(-30deg);
    }
    50% {
        width: 150px;
        filter: drop-shadow(70px 100px 12px #808080);
        
    }
    75% {
        filter: drop-shadow(50px 50px 8px #808080);
        transform: rotate(30deg);
    }
    100% {
        width: 100px;
        filter: drop-shadow(30px 10px 4px #808080);
    }
}

main {
    min-height: 100%;
}

.omaClass {
    width: 200px;
    height: 100px;
    align-items: center;
    justify-content: center;
    background: $success; // pitäis olla bootstrapin perus-vihreä
    margin: auto;
}

.omaClass2 {
    width: 200px;
    height: 60px;
    align-items: center;
    justify-content: center;
    background: $info; // pitäis olla bootstrapin sininen
    margin: auto;
}

// Käyttää hyväksi bootstrapin sass mixiniä,
// esim. alla oleva koskee näyttöjä xs-md välillä (mobiili/tabletti, alle 567px ja 768px välillä)
@include media-breakpoint-up(sm) {  
    .omaClass {
        display: none; // pitäis kadota näkyvistä, kun menee alle 768px
    }
    .omaClass2 {
        display: flex;
    }
}
// kun taas tämä koskee pelkästään työpöytiä (min 768px - ja yli 1200px välillä)
@include media-breakpoint-between(md, xl) {  
    .omaClass {
        display: flex; 
    }
    .omaClass2 {
        display: none; // pitäis kadota näkyvistä, kun menee yli 768px
    }

}
